<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <script>
        $(document).ready(function () {


                $('#btn_search').on('click',function (){
                    const searchWord = $('#search_bar').val();
                    let htmlTelCode = $('#tel_code option:selected').val();

                    $.ajax({
                        type:"get",
                        async: false,
                        url: "http://localhost:8080/wdb/hclist/filter",
                        data: {userSearchWord : searchWord, telCode: htmlTelCode},
                        success: function (data) {
                            if (data.length > 0) {
                                $('#HCTable > tbody').empty();
                                for (let i = 0; i < data.length; i++) {
                                    let result = "<tr>";


                                    result += "<td>" + data[i]["보건기관명"] + "</td>";
                                    result += "<td>" + data[i]["주소"] + "</td>";

                                    result += "</tr>";

                                    $("#HCTable").append(result);
                                }
                            }else {
                                $('#HCTable > tbody').empty();
                            }

                        },
                        error: function (request, status, error) {
                            alert("검색 실패")
                            console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
                        }
                    });
                });



            $('#tel_code').on('change', function () {


                let htmlTelCode = $('#tel_code option:selected').val();

                $('#search_bar').val(null);

                $.ajax({
                    type: "get",
                    async: false,
                    url: "http://localhost:8080/wdb/hclist/filter",
                    data: {telCode: htmlTelCode},
                    success: function (data) {
                        if (data.length > 0) {
                            $('#HCTable > tbody').empty();
                            for (let i = 0; i < data.length; i++) {
                                let result = "<tr>";


                                result += "<td>" + data[i]["보건기관명"] + "</td>";
                                result += "<td>" + data[i]["주소"] + "</td>";

                                result += "</tr>";

                                $("#HCTable").append(result);
                            }
                        }

                    },
                    error: function (request, status, error) {
                        alert("검색 실패")
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
                    }
                });
            });


        });


    </script>
</head>

<body>

<header th:replace="wdb/layout/Header :: mainHeader"></header>

<main class="container my-4">
    <div class="mainContainer container">
        <div class="row">
            <div class="Search">
                <form action="#" class="d-flex justify-content-end" method="post">
                    <div>
                        <select th:field="*{SinTelCode}" class="form-select" id="tel_code">
                            <option value="">지역 선택</option>
                            <option th:each="telCode : ${SinTelCode}" th:value="${telCode.telCode}"
                                    th:text="${telCode.sidoName}">서울
                            </option>
                        </select>
                    </div>
                    <input type="text" class="form-floating mx-4" id="search_bar" name="searchBar" placeholder="검색">
                    <button type="button" class="btn btn-primary" id="btn_search">검색버튼</button>
                </form>
            </div>
            <div>
                <div style="height: 50px">
                    <span>공지사항 자리</span>
                </div>

            </div>
            <div>
                <table class="table table-hover table-bordered table-light" id="HCTable">
                    <thead>
                    <tr class="text-primary fw-bold ">
                        <th class="fs-5">보건소 이름</th>
                        <th class="fs-5">보건소 주소</th>
                        <th class="fs-5">별점</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.size(HCList)} > 0" th:each="item : ${HCList}">
                        <td th:text="${item.medicalName}" class="fw-lighter">보건소 이름</td>
                        <td th:text="${item.medicalAddr}" class="fw-light">보건소 주소</td>
                    </tr>
                    <tr th:unless="${#lists.size(HCList)} > 0">
                        <td th:cols="5">조회된 내용이 없습니다</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<footer th:replace="wdb/layout/Footer :: mainFooter"></footer>

</body>
</html>