<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<header th:fragment="mainHeader" class="container mt-3 p-5 ">
  <div class="container-fluid p-4 bg-light">
    <div class="container p-5 rounded-5">
      <h1 class="display-5">게시판 목록</h1>
    </div>
  </div>
</header>
</body>
</html>