#header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}
#header a.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 340px;
}
#header a.logo img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
#header ul {
    margin: 0;
    padding: 56px 0 0;
}
#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 19px;
}
#header ul li a {
    color: #252525;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
    color: #0ba39c;
}
#header {
    padding: 20px 0;
    position: relative;
    width: 100%;
}
#btn {
    text-align: right;
    background-color: white;
}
#footer {
    background: white;
    margin: 0;
    padding: 36px 0 42px;
}
#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;
}
#footer div p {
    color: black;
    float: left;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}
#footer {
    padding: 10px 0 25px;
}
#footer div {
    overflow: visible;
    width: 100%;
}
#footer div p {
    float: none;
    margin: 0;
    text-align: center;
}