<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>스토어 페이지</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
  <script src="/js/aos.js" th:src="@{js/aos.js}"></script>
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="">우리동네 스토어</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggle-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BEST</a></li>
        <li class="nav-item"><a class="nav-link" href="#">여성/위생용품</a></li>
        <li class="nav-item"><a class="nav-link" href="#">건강용품</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">건강식품</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">영양제</a></li>
            <li><hr class="dropdown-divider"/></li>
            <li><a class="dropdown-item" href="#">비타민</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-dark me-3" type="submit" href="/main">우리동네 보건소</a>
      </form>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark" >
  <img src="/gwakImages/store_banner.png" class="w-100">
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store01.png" alt="..."/>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">[디에센셜]<br>이이경 멀티 종합 비타민 영양제 2주 데이팩</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">￦35,000</span>
              ￦28,350
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/dessential/products/5698231596?n_media=27758&n_query=%EB%B9%84%ED%83%80%EB%AF%BC&n_rank=2&n_ad_group=grp-a001-02-000000029318538&n_ad=nad-a001-02-000000202841965&n_campaign_type=2&n_mall_id=ncp_1o7zam_01&n_mall_pid=5698231596&n_ad_group_type=2&NaPm=ct%3Dlblzq32g%7Cci%3D0yi0001PdDvxM1Yssvpg%7Ctr%3Dpla%7Chk%3D3152d1454120227a5c8246b45ecf82579f06fdcb" target = "_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store02.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">[종근당건강] 락토핏 생유산균 골드 5x 2g 50포</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              ￦9,800
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/beauty_youjin/products/7473513185?NaPm=ct%3Dlbzt0428%7Cci%3Dd6634c621e01fa0cf32944df4059e9dc49f54a1c%7Ctr%3Dslsbrc%7Csn%3D1485608%7Chk%3D20c10d59e4cae0bc9822184c14aba8915a6c99f6" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store03.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">뉴트리코어 식물성 알티지 오메가3 1126mg x 30캡슐</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">￦67,890</span>
              ￦57,640
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/drug-mall/products/6487164216?NaPm=ct%3Dlbzt5xxs%7Cci%3Ddf307eea14a7440fff333e927d15666e2c524c7f%7Ctr%3Dslbrc%7Csn%3D5656846%7Chk%3D1034712f80cb3ef733a730ae3ac3edafcfd96252" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store04.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">쁘띠앤 칼마디 1200mg x 60정</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              ￦19,900
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/lifeshot/products/7183590289?NaPm=ct%3Dlbztahio%7Cci%3D47b9f279ffcbffb738c1c3fd6c3fd56215db5719%7Ctr%3Dslct%7Csn%3D441344%7Chk%3Dbfa20b1fa00e3eeae3055e292c62d4e61293410e" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store05.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">닥터프로그램 임산부 영양제 활성형 활성엽산 임신 준비 엽산 마더스케어 올인원 플러스</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">￦98,000</span>
              ￦51,900
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/chabiofnc/products/6679537873?n_media=11068&n_query=%EC%98%81%EC%96%91%EC%A0%9C&n_rank=2&n_ad_group=grp-a001-02-000000018192232&n_ad=nad-a001-02-000000184799513&n_campaign_type=2&n_mall_id=ncp_1nk1x3_01&n_mall_pid=6679537873&n_ad_group_type=2&NaPm=ct%3Dlbztdcww%7Cci%3D0zy00024ZUfxWK%2Dn7L20%7Ctr%3Dpla%7Chk%3D85f15338599393d73a7afa3d90d3ea21a0956387" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store06.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">[본사] 관절엔 콘드로이친1200 5개월분 식약처 기능성인정 건강기능식품</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">￦495,000</span>
              ￦285,000

            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/jyns/products/6576886971?n_keyword=&n_rank=5&n_query=%EC%98%81%EC%96%91%EC%A0%9C&n_campaign_type=2&n_media=11068&n_campaign=cmp-a001-02-000000005338680&n_ad_group=grp-a001-02-000000031338559&n_ad=nad-a001-02-000000220579378&n_match=3&n_network=search&n_mall_id=ncp_1oc8d9_01&n_mall_pid=6576886971&n_ad_group_type=2&n_keyword_id=&n_ad_extension=&NaPm=ct%3Dlbztgqts%7Cci%3D0ym0000w0-jx6tqa2f1p%7Ctr%3Dpla%7Chk%3Ddb4b215389d2b04d0ed9c3c7924886b86a245fa2" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store07.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">[4+4] 초임계 추출 알티지(rTG) 오메가3 닥터린 / 8박스</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">￦192,000</span>
              ￦96,000
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://brand.naver.com/dr_lean/products/5923383910?NaPm=ct%3Dlbztjid4%7Cci%3D98d65f6734beeedd787fc31018a557c15d66d34d%7Ctr%3Dslsl%7Csn%3D967633%7Chk%3Db22b32d131644866b3b9497bebb8f3be44ecde9a" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="/gwakImages/store08.png" alt="..."/>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">뉴트리모어 4세대 활성 활성형 액티브 플러스 엽산 400 800 임산부영양제 1개월분 Quatrefolic</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              ￦23,000
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://smartstore.naver.com/nutrimoremall/products/6059309892?NaPm=ct%3Dlbztlybs%7Cci%3Dba2bf08b1f8105518d2598e9491e0dba3416b4f8%7Ctr%3Dslsl%7Csn%3D2206709%7Chk%3D33e0d042dab4c19e2bff7e27e00800eceb9100b1" target="_blank">구매하기</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Woori Dongnae Store 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
  import Aos from "/js/aos.js";

  Aos.init(); // 자바스크립트로 init()을 해야 동작한다.
</script>
</body>
</html>