<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
  <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
<!--  <link rel="shortcut icon" href="/skyimg/img55.ico" type="image/x-icon" />-->
  <script>

    // 아이디 예외 처리


    $(document).ready(function () {
      $('#btn-login').on('click', function () {
        let id = $("#loginId").val();
        let pw = $("#loginPwd").val();
        $.ajax({
          type: "post",
          url: "./loginIdCheck",
          data: {memId: id, memPwd: pw},
          success: function (data) {
            if (data == 0) {
              alert("아이디와 비밀번호를 다시 확인해주세요.");
            } else {
              alert(data.memId + "님 반갑습니다.");
              location.href="/main";
            }
          },
          error: function () {
            alert("통신 실패");
          }
        })
      });

      // $('#btn-login').on('click', function () {
      //   let id = $("#loginId").val();
      //   $.ajax({
      //     type: "post",
      //     url: "/test",
      //     data: {memId: id},
      //     success: function (data) {
      //       location.href="/myPage";
      //     },
      //     error: function () {
      //       alert("통신 실패");
      //     }
      //   })
      // });





      $('#btn-test').on('click', function () {
        const frm = $('#frm')[0];
        frm.action = '/test';
        frm.submit();
      });
    });

  </script>
</head>

<body>
<header th:replace="layout/Header :: mainHeader">

</header>
<main class="container mt-5">
  <div class="row">
    <h2 class="text-center mt-5">로그인</h2>
    <form action="/test" method="get" id="frm">
      <div class="col-sm-6 mx-auto">
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="loginId" name="loginId" placeholder="아이디를 입력하세요">
          <label for="loginId">아이디</label>
          <span id="id_check"></span>
        </div>
        <div class="form-floating my-3">
          <input type="password" class="form-control" id="loginPwd" name="loginPwd" placeholder="비밀번호를 입력하세요">
          <label for="loginPwd">비밀번호</label>
        </div>
        <div class="d-grid">
          <button type="button" class="form-floating mt-3 btn btn-info" id="btn-login" th:type="button"
                  style="font-size: medium; font-weight: normal">로그인
          </button>
          <!--          병합 후 수정 : href = 회원가입 페이지가 나오는 Controller 경로-->
          <button type="button" class="form-floating my-3 btn btn-success" id="btn-join" th:href="login"
                  style="font-size: medium; font-weight: normal">회원가입
          </button>
          <button type="button" class="form-floating btn btn-dark" id="btn-back"
                  style="background-color: rgb(128,128,128); font-size: medium; font-weight: normal">돌아가기
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
<footer th:replace="layout/Footer :: mainFooter">

</footer>
</body>

</html>