<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
  <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>-->
  <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
  <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
</head>
<body>
<div class="container row col-sm ms-1">
  <table class="border border-2 mb-5">
    <thead th:height="100px" class="border border-2">
    <tr class="border border-2">
      <th colspan="2" class="text-center" style="font-size: large">보건소 이름</th>
    </tr>
    </thead>
    <tbody class="border border-2">
    <tr th:height="100px" class="border border-2">
      <td th:width="1000px">보건소 위치 : </td>
      <td rowspan="3" class="border border-2">
        <div id="map" style="width:800px;height:400px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b9d88b62f2b41600a7805dfefc28f353&libraries=services,clusterer,drawing"></script>
        <script>
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
              center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
              level: 10 // 지도의 확대 레벨
            };

          var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

          // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
          if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {

              var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도


              var geocoder = new kakao.maps.services.Geocoder();
              var coord = new kakao.maps.LatLng(lat, lon);

              var callback = function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                  console.log('현재 사용자 주소' + result[0].address.address_name);
                  let messageCode = result[0].address.address_name;
                  var message = '<div style="padding:5px;">현재 위치 : ' + messageCode + '</div>'; // 인포윈도우에 표시될 내용입니다
                  displayMarker(locPosition, message);
                }
              };
              geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
              var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            });
          } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
              message = 'geolocation을 사용할수 없어요..'
            displayMarker(locPosition, message);
          }
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 사용자 주소 받아오기 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
          // 지도에 마커와 인포윈도우를 표시하는 함수입니다
          function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
              map: map,
              position: locPosition
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
              iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
              content : iwContent,
              removable : iwRemoveable
            });

            // 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);
          }
        </script>
      </td>
    </tr>
    <tr th:height="100px" class="border border-2">
      <td>보건기관 유형 : </td>
    </tr>
    <tr th:height="100px" class="border border-2">
      <td>영업시간 : </td>
    </tr>
    </tbody>
  </table>
  <div class="container text-centers">
    <div style="width: 70%; height:150px; float: left;">
      <label for="comments"></label>
      <input type="text" id="comments" placeholder="한 줄 리뷰 쓰기 . . ." class="" style="width: 900px; height: 60px" >
    </div>
    <div style="width: 20%; height:150px; float: right;">
      <button type="button" class="ms-5 btn btn-outline-warning" style="height: 60px; margin-top: 19.5px; width: 120px">리뷰 등록</button>
    </div>
  </div>
</div>

</body>
</html>