<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>-->
<!--    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">-->
<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->
<!--    <script>-->



<!--=======-->
<!--    <script th:inline="javascript">-->
<!--        function rowClicked(value) {-->
<!--            location.href="http://localhost:8080/wdb/hclist/" +value;-->
<!--        }-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->

<!--        $(document).ready(function () {-->


<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->

<!--            $('#btn_search').on('click', function () {-->
<!--                const searchWord = $('#search_bar').val();-->
<!--                let htmlTelCode = $('#tel_code option:selected').val();-->

<!--                $.ajax({-->
<!--                    type: "get",-->
<!--                    async: false,-->
<!--                    url: "http://localhost:8080/wdb/hclist/filter",-->
<!--                    data: {userSearchWord: searchWord, telCode: htmlTelCode},-->
<!--                    success: function (data) {-->
<!--                        if (data.length > 0) {-->
<!--                            $('#HCTable > tbody').empty();-->
<!--                            for (let i = 0; i < data.length; i++) {-->
<!--                                let result = "<tr>";-->
<!--=======-->
<!--            $('#btn_search').on('click', function () {-->
<!--                let searchWord = $('#search_bar').val();-->
<!--                let htmlTelCode = $('#tel_code option:selected').val();-->

<!--                if (htmlTelCode == "") {-->
<!--                    alert("지역을 선택해 주세요")-->
<!--                } else if (searchWord == "") {-->
<!--                    alert("검색어를 입력하세요")-->
<!--                } else {-->


<!--                    $.ajax({-->
<!--                        type: "get",-->
<!--                        async: false,-->
<!--                        url: "http://localhost:8080/wdb/hclist/filter",-->
<!--                        data: {userSearchWord: searchWord, telCode: htmlTelCode},-->
<!--                        success: function (data) {-->
<!--                            if (data.length > 0) {-->
<!--                                $('#HCTable > tbody').empty();-->
<!--                                for (let i = 0; i < data.length; i++) {-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->

<!--                                    let idx = data[i]["idx"];-->
<!--                                    let result = "<tr style=\"cursor: pointer\">";-->

<!--                                    result += "<td onclick=\"rowClicked('"+idx+"')\">" + data[i]["medicalName"] + "</td>";-->
<!--                                    result += "<td onclick=\"rowClicked('"+idx+"')\">" + data[i]["medicalAddr"] + "</td>";-->

<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->
<!--                                result += "<td>" + data[i]["보건기관명"] + "</td>";-->
<!--                                result += "<td>" + data[i]["주소"] + "</td>";-->
<!--                                result += "<td>" + data[i]["주소"] + "</td>";-->
<!--=======-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->

<!--                                result += "</tr>";-->

<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->
<!--                                $("#HCTable").append(result);-->
<!--=======-->
<!--                                    $("#HCTable").append(result);-->
<!--                                }-->
<!--                            } else {-->
<!--                                $('#HCTable > tbody').empty();-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->
<!--                            }-->
<!--                        } else {-->
<!--                            $('#HCTable > tbody').empty();-->
<!--                        }-->
<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->

<!--                    },-->
<!--                    error: function (request, status, error) {-->
<!--                        alert("검색 실패")-->
<!--                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)-->
<!--                    }-->
<!--                });-->
<!--=======-->
<!--                    });-->
<!--                }-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->
<!--            });-->


<!--            $('#tel_code').on('change', function () {-->


<!--                let htmlTelCode = $('#tel_code option:selected').val();-->


<!--                if (htmlTelCode == "") {-->
<!--                    console.log("지역코드 공백")-->
<!--                } else {-->

<!--                    $.ajax({-->
<!--                        type: "get",-->
<!--                        async: false,-->
<!--                        url: "http://localhost:8080/wdb/hclist/telfilter",-->
<!--                        data: {telCode: htmlTelCode},-->
<!--                        success: function (data) {-->
<!--                            if (data.length > 0) {-->
<!--                                $('#HCTable > tbody').empty();-->


<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->
<!--                                result += "<td>" + data[i]["보건기관명"] + "</td>";-->
<!--                                result += "<td>" + data[i]["주소"] + "</td>";-->
<!--                                result += "<td>"+"<button>" + i +"</button>"+ "</td>";-->

<!--=======-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->

<!--                                for (let i = 0; i < data.length; i++) {-->

<!--                                    let idx = data[i]["idx"];-->
<!--                                    let result = "<tr style=\"cursor: pointer\">";-->

<!--                                    result += "<td onclick=\"rowClicked('"+idx+"')\">" + data[i]["medicalName"] + "</td>";-->
<!--                                    result += "<td onclick=\"rowClicked('"+idx+"')\">" + data[i]["medicalAddr"] + "</td>";-->


<!--                                    result += "</tr>";-->

<!--                                    $("#HCTable").append(result);-->
<!--                                }-->
<!--                            } else {-->
<!--                                $('#HCTable > tbody').empty();-->
<!--                            }-->
<!--                        },-->
<!--                        error: function (request, status, error) {-->
<!--                            alert("검색 실패")-->
<!--                            console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            });-->


<!--        });-->

<!--    </script>-->
<!--</head>-->

<!--<body>-->

<!--<header th:replace="layout/Header :: mainHeader"></header>-->

<!--<main class="container my-4">-->
<!--    <div class="mainContainer container">-->
<!--        <div class="row">-->
<!--            <div class="search">-->
<!--                <form action="#" class="d-flex justify-content-end" method="post">-->
<!--                    <div>-->
<!--                        <select th:field="" class="form-select" id="">-->
<!--                            <option value="">지역 선택</option>-->
<!--                            <option th:each="" th:value=""-->
<!--                                    th:text="">서울-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <input type="text" class="form-floating mx-4" id="search_bar" name="searchBar" placeholder="검색">-->
<!--                    <button type="button" class="btn btn-primary" id="btn_search">검색버튼</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div style="height: 50px">-->
<!--                    <span>공지사항 자리</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <table class="table table-hover table-bordered table-light" id="PMTable">-->
<!--                    <thead>-->
<!--                    <tr class="text-primary fw-bold ">-->
<!--                        <th class="fs-5">보건소 이름</th>-->
<!--                        <th class="fs-5">보건소 주소</th>-->
<!--                        <th class="fs-5">별점</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--<<<<<<< HEAD:src/main/resources/templates/wdb/HCList.html-->
<!--                    <tr th:if="${#lists.size(HCList)} > 0" th:each="item : ${HCList}">-->
<!--                        <td th:text="${item.medicalName}" class="fw-lighter">보건소 이름</td>-->
<!--                        <td th:text="${item.medicalAddr}" class="fw-light" >보건소 주소</td>-->
<!--                        <td th:text="${item.medicalAddr}" class="fw-light" >보건소 주소</td>-->
<!--=======-->
<!--                    <tr th:if="" th:each="" style="cursor: pointer"-->
<!--                        th:onclick="'javascript:rowClicked(\'' + ${item.idx} + '\');'">-->
<!--                        <td th:text="${item.medicalName}" class="fw-lighter">약국 이름</td>-->
<!--                        <td th:text="${item.medicalAddr}" class="fw-light">약국 주소</td>-->
<!--&gt;>>>>>> lys3:src/main/resources/templates/LeePMList.html-->
<!--                    </tr>-->
<!--                    <tr th:unless="${#lists.size(leePMDto)} > 0">-->
<!--                        <td th:cols="5">조회된 내용이 없습니다</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

<!--<footer th:replace="layout/Footer :: mainFooter"></footer>-->

<!--</body>-->
<!--</html>-->