<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">

    <style>
        #img{
            margin-top: 50px;
            background-image: url('/img/Family.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>

</head>
<body>
<header th:replace="header :: mainHeader"></header>
<div id="img">
    <div class="row row-cols-lg-1 row-cols-lg-4 align-items-center g-4 py-5" style="display: flex; justify-content: center; ">
        <div class="col">
            <a href="https://sooyusil.com/home" target = "_blank" >
                <img src="/img/img8.png" >
            </a>
        </div>
        <div class="col" >
            <img src="/img/img6.png">
        </div>s
        <div class="col">
            <a href="https://www.childcare.go.kr/"  target = "_blank">
                <img src="/img/img7.jpg">
            </a>

        </div>
    </div>
</div>

    <div style="width: 90%; height: 90%; padding-top: 20px; padding-left: 250px ">
        <a href="https://nosmk.khealth.or.kr/nsk/ntcc/index.do"  target = "_blank">
            <img src="/img/smoking.png">
        </a>
    </div>

<div id="main">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="width: 70%; height: 70%; margin: auto; padding-top: 20px" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/img1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/img2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/img3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<footer th:replace="footer :: mainFooter"></footer>
</body>
</html>