<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    &lt;!&ndash;  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>&ndash;&gt;-->
<!--    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>-->
<!--    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>-->
<!--    &lt;!&ndash;  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2 class="text-center my-3">보건소 주변 약국 찾기</h2>-->
<!--    <div class="text-end">-->
<!--        <p id="nowLocation"></p>-->
<!--        <button id="btn-start" class="btn btn-outline-info mt-3 fs-6 ">약국 찾기</button>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container mt-3">-->
<!--    <div id="map" style="width:auto;height:600px;" class="align-items-center"></div>-->
<!--    <script type="text/javascript"-->
<!--            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b9d88b62f2b41600a7805dfefc28f353&libraries=services,clusterer,drawing">-->
<!--    </script>-->

<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function () {-->


<!--            /*<![CDATA[*/-->
<!--            const HCLoc = [[${medicalLoc}]];-->
<!--            const listSize = [[${nearPharmacyList.size}]];-->
<!--            var lat = [[${nearPharmacyList.wgs84Lat}]]-->
<!--            var lot = [[${nearPharmacyList.wgs84Lon}]]-->
<!--            var dutyName = [[${nearPharmacyList.dutyName}]]-->
<!--            var dutyAddr = [[${nearPharmacyList.dutyAddr}]]-->
<!--            -->
<!--            /*]]>*/-->

<!--            // 카카오맵 지도 생성-->
<!--            var mapContainer = document.getElementById('map'), // 지도를 표시할 div-->
<!--                mapOption = {-->
<!--                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표-->
<!--                    level: 3 // 지도의 확대 레벨-->
<!--                };-->

<!--// 지도를 생성합니다-->
<!--            var map = new kakao.maps.Map(mapContainer, mapOption);-->

<!--// 주소-좌표 변환 객체를 생성합니다-->
<!--            var geocoder = new kakao.maps.services.Geocoder();-->

<!--// 주소로 좌표를 검색합니다-->
<!--            geocoder.addressSearch(HCLoc, function (result, status) {-->

<!--                // 정상적으로 검색이 완료됐으면-->
<!--                if (status === kakao.maps.services.Status.OK) {-->

<!--                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);-->

<!--                    // 결과값으로 받은 위치를 마커로 표시합니다-->
<!--                    var marker = new kakao.maps.Marker({-->
<!--                        map: map,-->
<!--                        position: coords-->
<!--                    });-->

<!--                    // 인포윈도우로 장소에 대한 설명을 표시합니다-->
<!--                    var infowindow = new kakao.maps.InfoWindow({-->
<!--                        content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'-->
<!--                    });-->
<!--                    infowindow.open(map, marker);-->

<!--                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다-->
<!--                    map.setCenter(coords);-->
<!--                }-->
<!--            });-->


<!--// 마커를 표시할 위치와 title 객체 배열입니다-->

<!--            for (let i = 0; i < ; i++) {-->
<!--                var positions = [-->
<!--                    {-->
<!--                        title: '카카오',-->
<!--                        latlng: new kakao.maps.LatLng(33.450705, 126.570677)-->
<!--                    },-->
<!--                    {-->
<!--                        title: '생태연못',-->
<!--                        latlng: new kakao.maps.LatLng(33.450936, 126.569477)-->
<!--                    },-->
<!--                    {-->
<!--                        title: '텃밭',-->
<!--                        latlng: new kakao.maps.LatLng(33.450879, 126.569940)-->
<!--                    },-->
<!--                    {-->
<!--                        title: '근린공원',-->
<!--                        latlng: new kakao.maps.LatLng(33.451393, 126.570738)-->
<!--                    }-->
<!--                ];-->
<!--            }-->


<!--// 마커 이미지의 이미지 주소입니다-->
<!--            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";-->

<!--            for (var i = 0; i < positions.length; i++) {-->

<!--                // 마커 이미지의 이미지 크기 입니다-->
<!--                var imageSize = new kakao.maps.Size(24, 35);-->

<!--                // 마커 이미지를 생성합니다-->
<!--                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);-->

<!--                // 마커를 생성합니다-->
<!--                var marker = new kakao.maps.Marker({-->
<!--                    map: map, // 마커를 표시할 지도-->
<!--                    position: positions[i].latlng, // 마커를 표시할 위치-->
<!--                    title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다-->
<!--                    image: markerImage // 마커 이미지-->
<!--                });-->
<!--            }-->
<!--        });-->

<!--    </script>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->