<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 모음 & 공지사항 게시판</title>

    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
    <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <script>
        const open = () => {
            document.querySelector(".modal").classList.remove("hidden");
        }

        const close = () => {
            document.querySelector(".modal").classList.add("hidden");
        }

        document.querySelector(".openBtn").addEventListener("click", open);
        document.querySelector(".closeBtn").addEventListener("click", close);
        document.querySelector(".bg").addEventListener("click", close);

    </script>

</head>
<header th:replace="layout/Header :: mainHeader">

</header>
<body>
<div class="container mt-5">
    <div class="row">
        <h2 class="text-center mb-5">작성한 리뷰</h2>
        <!--    <h2 th:text="${session.member.getMemId()}"></h2>-->
        <h2></h2>
        <div class="col-sm">
            <!--            dataList 값 확인 가능 -->
            <!--            <p th:text="${dataList}"></p>-->
            <table class="table table-hover table-striped">
                <colgroup>
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="30%">
                    <col width="10%">

                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th>보건소 / 약국</th>
                    <th>작성자</th>
                    <th>한 줄 리뷰</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <!--        th:if="${session.member.getMemId() == ${memberId}}"-->
                <!--                dataList : 변수명(Controller 에서 ModelAndView 객체에 저장한 변수병과 데이터)        -->
                <!--                each : ${dataList}에서 데이터를 끄집어내서 list 에 넣는작업 반복실행 (for:in) 문.    -->
                <tr th:each="list : ${session.reviews}">
                    <td th:text="${list.reIdx}"></td>
                    <td th:text="${list.reMdName}"></td>
                    <!--          <td>-->
                    <!--            a 태그 속성에서 빼옴 : href="/openBoardDetail?reIdx=" th:attrappend="href=${list.reIdx}" -->
                    <!--            <a style="color: black" class="text-decoration-none" th:text="${list.reId}"></a>-->
                    <!--          </td>-->
                    <td th:text="${list.reId}" id="list-reId"></td>
                    <td th:text="${list.reContents}"></td>
                    <td th:text="${list.reCreateDate}"></td>
                    <!--        <tr th:unless="${#lists.size(myReviewList.getList())} > 0">-->
                    <!--
                             <td th:cols="5">조회된 결과가 없습니다.</td>-->
                    <td>
                        <a href="/review/delete/" th:attrappend="href=${list.reIdx}" th:text="수정"
                           class="text-decoration-none"></a>
                    </td>
                    <td>
                        <a href="/review/delete/" th:attrappend="href=${list.reIdx}" th:text="삭제"
                           class="text-decoration-none"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
<footer th:replace="layout/Footer :: mainFooter">

</footer>


</body>
</html>